[Unit]
Description=UPNQR_service - Gunicorn instance to serve upnqr backend
After=network.target

[Service]
miro=miro
Group=www-data
Restart=on-failure
WorkingDirectory=/home/miro/CRUD/upnqr_services
Environment="PATH=/home/miro/CRUD/upnqr_services/env/bin"
ExecStart=/home/miro/CRUD/upnqr_services/env/bin/gunicorn --config /home/miro/CRUD/upnqr_services/gunicorn_config.py -b 0.0.0.0:port wsgi:app

[Install]
WantedBy=multi-miro.target
