<a href="./">
    <h1>Univerzalni plačilni nalogi - UPN QR program</h1>
</a>
<div class="first-row-content">
    <div>
        <h1 class="h1-opis">Program omogoča pripravo UPN QR plačilnih nalogov za tiskanje na
            standardne
            prednatisnjene obrazce UPN QR formata A4 ali pošiljanje po elektronski pošti.</h1>
    </div>
    <div class="aligned-right">
        <p>mail: potep.in@gmail.com</p>
        <p><a href="./pravno">Pravno obvestilo</a></p>
    </div>
</div>
<router-outlet></router-outlet>